body {
	background-color: LightBlue;
}
.tepa {
	display: flex;
	justify-content: space-between;
}
ul {
	display: flex;
}
span {
	color: green;
}
li {
	list-style-type: none;
	padding: 15px;
}
.ip {
	display: flex;
	justify-content: space-between;
}
img {
	width: 600px;
	height: 600px;
}
.all {
	width: 1000px;
	margin: 0 auto;
}
.pas {
	height: 200px;
	margin: auto 0;

}